* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Museo light" Arial, Helvetica, sans-serif;
  font-weight: 300;
}

body,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

.button {
  padding: 0;
  font-family: "Museo light";
  font-size: 16;
  font-weight: 300;
  color: white;
  line-height: 46px;
  background-color:#4977e0;
  border: none;
}

@import "utils";
@import "fonts";
@import "typography";
@import "./header";
@import "./content";
